<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<variable name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}" />
	<variable name="AMAZON_ACCESS_KEY" value="${AMAZON_ACCESS_KEY:-XD}" />
	<variable name="AMAZON_SECRET_KEY" value="${AMAZON_SECRET_KEY:-XD}" />
	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
		<region>us-east-1</region>
		<logGroup>roulette-api</logGroup>
		<logStream>testing</logStream>
		<accessKeyId>${AMAZON_ACCESS_KEY}</accessKeyId>
		<secretKey>${AMAZON_SECRET_KEY}</secretKey>
		<layout>
			<!-- possible layout pattern -->
			<pattern>[%X{a} %X{b}] %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</layout>
	</appender>

	<root level="${LOG_LEVEL}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CLOUDWATCH" />
	</root>

</configuration>